COMPOSE_PROJECT_NAME=
REGISTRY=
VERSION=
CD_HOST=
CM_HOST=
ID_HOST=
HRZ_HOST=

SOLUTION_BUILD_IMAGE=mcr.microsoft.com/dotnet/framework/sdk:4.8
SOLUTION_BASE_IMAGE=mcr.microsoft.com/windows/nanoserver:1809
TRAEFIK_IMAGE=traefik:v2.2.0-windowsservercore-1809
BUILD_CONFIGURATION=debug
SOLUTION_BASE_IMAGE=mcr.microsoft.com/windows/nanoserver:1809
DOTNET_SDK_IMAGE=mcr.microsoft.com/dotnet/framework/sdk:4.8
CORE_SDK_IMAGE=mcr.microsoft.com/dotnet/core/sdk:3.1

LOCAL_DEPLOY_PATH=.\deploy
LOCAL_DATA_PATH=.\data
HOST_LICENSE_FOLDER=.\license

SITECORE_DOCKER_REGISTRY=scr.sitecore.com/sxp/
SITECORE_TOOLS_REGISTRY=scr.sitecore.com/tools/
SITECORE_MODULE_REGISTRY=scr.sitecore.com/sxp/modules/
SPS_MODULE=scr.sitecore.com/sxp/modules/sitecore-sps:5.0-ltsc2019
SITECORE_VERSION=10.1-ltsc2019
TOOLS_VERSION=10.1-1809
SPE_VERSION=6.2-1809
SPS_VERSION=10.1-1809
SXA_VERSION=10.1-1809
HORIZON_VERSION=2.26.0-ltsc2019
HORIZON_ASSET_VERSION=2.26.0-1809

SITECORE_ADMIN_PASSWORD=
SQL_SA_PASSWORD=
REPORTING_API_KEY=
TELERIK_ENCRYPTION_KEY=
SITECORE_IDSECRET=
SITECORE_ID_CERTIFICATE=
SITECORE_ID_CERTIFICATE_PASSWORD=
SITECORE_LICENSE=

TRAEFIK_ISOLATION=hyperv
ISOLATION=default
SOLR_CORE_PREFIX_NAME=sitecore
MEDIA_REQUEST_PROTECTION_SHARED_SECRET=
